.compose-button-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0; /* Add margin to create space around the button */
}

.compose-button {
  width: 200px;
  height: 50px;
  background-color: #1a73e8;
  padding: 15px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed; /* Changed to fixed to keep it on the right side */
  top: 100px; /* Adjusted to be below the header */
  left: 20px; /* Adjust as needed */
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.compose-button:hover {
  background-color: #8b9caf;
  transform: translateY(-2px);
}

.compose-modal {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 80vw; /* Adjusted width */
  height: 70vh;
  max-height: 80vh; /* Fixed height for scrollable area */
  overflow-y: auto;
  position: fixed;
  top: 180px;
  left: 250px;
  backdrop-filter: blur(10px);
}
.compose-button img {
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.compose-modal input,
.compose-modal select {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  background-color: rgb(254, 254, 254);
  padding: 2px 10px ;
  margin-bottom: 10px;
}

.compose-modal textarea{
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgb(254, 254, 254);
  padding: 2px 10px ;
  margin-bottom: 10px;
}

.compose-modal button {
  width: 100%;
  padding: 10px;
  background-color: #3e7ac4;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.compose-modal button:hover {
  background-color: #1669c1;
}