.card-container {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 80vw; /* Adjusted width */
  height: 70vh;
  max-height: 80vh; /* Fixed height for scrollable area */
  overflow-y: auto;
  position: fixed;
  top: 180px;
  left: 250px;
  backdrop-filter: blur(15px);
}
.card-scroll {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 370px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.card-name {
  font-size: 1.25rem;
  margin-bottom: 12px;
  color: #333;
}

.email-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.email-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.email-item:last-child {
  border-bottom: none;
}

.email-text {
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  background-color:  #e4e5e689;
  font-size: 1rem;
  padding-left: 10px;
  color: #555;
  
}

.email-button {
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  background-color:  #1a73e8;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 25px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.email-button:hover {
  background-color: #0056b3;
}

.add-card-button {
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  background-color:  #1a73e8;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-card-button:hover {
  background-color: #0056b3;
}

.input-boxx {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
  background-color: #ffffff;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #218838;
}

