body {
  background-color: #f3f4f6;
  margin: 100;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* Adjusted padding */
  background: rgba(255, 255, 255, 0.7); /* Transparent background */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fixed position */
  top: 0; /* Move to the top */
  left: 0; /* Extend to the left */
  right: 0; /* Extend to the right */
  width: 100%; /* Full width */
  z-index: 10; /* Ensure it stays on top */
}

.header__left {
  display: flex;
  align-items: center;
}

.header__icon {
  font-size: 32px; /* Increased size */
  color: #5f6368;
  margin-right: 20px; /* Increased margin */
  cursor: pointer;
}

.header__logo {
  height: 40px;
  cursor: pointer;
}

.header__center {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 600px;
  background-color: #f1f3f4;
  padding: 10px 20px; /* Increased padding */
  border-radius: 20px;
}

.header__searchInput {
  border: none;
  outline: none;
  flex: 1;
  padding: 5px;
  font-size: 18px; /* Increased font size */
  background-color: transparent;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__profile {
  width: 40px; /* Increased size */
  height: 40px; /* Increased size */
  border-radius: 50%;
  margin-left: 20px; /* Increased margin */
  cursor: pointer;
}