.wrapper1{
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    background-color: lightblue;
}
.Compose-button{
    position: relative;
    top:5%;
    left: 20px;
    width: 150px;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    
}
.wrapper1 .Email-page{
    position: relative;
    top: 45px;
    left: 180px;
    width: 70%;
    
    background: #2e2e2e;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}